body 
{
	font-size: 16px;
	margin:0 auto;
	max-height: 4350px;
	max-width: 1350px;
}
body header
{
	background-color: #F7F7F7;
	height: 240px;
	width: 1350px;
	vertical-align: right;
}
body header section article
{
	display: inline-block;
	margin: -10px 10px 20px 70px;
	vertical-align: middle;
}
header nav ul
{

	text-align: center;
}

header nav ul li
{
	color:white;
	display: inline-block;
}
#logo
{
	float: right;
	display: inline-block;
}
#logoSep
{
	height: 120px;
	width: 298px;
}
.encabezado
{
	height: 120px;
	width: 1350px;
}

.tecnologico
{
	color: gray;
	font-family: 'EB Garamond', serif;
}
.instituto
{
	color: gray;
	font-family: 'EB Garamond', serif;

}
.sistemaResidencias
{
	text-align: center;
	color:gray;
	font-family: 'EB Garamond', serif;
	float: right; 
}
.sistema
{
	color: gray;
	text-align: middle;
	font-family: 'EB Garamond', serif;
	font-weight: bold;

}